@import '../node_modules/@angular/material/theming';
// @import "@material/fab/mdc-fab";
// General themes for across the app and those that need access to theming go here
// Styles that affect only things in an individual component should go in that component's scss/css file.
// For more information about Angular Material theming: https://material.angular.io/guide/theming
// The theme.scss file contains variables for theme colors, this allows you to use them in other scss files across the project
@import 'theme';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once! (this means don't use this styles.scss in other scss files)
@include mat-core();


// This is to be able to theme parts of the app dynamically depending on theme (right now: light or dark)
// You can put styles in this mixin and the theme variables will refer to the actual theme being used (light or dark)
@mixin app-theming($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $is-dark: map-get($theme, is-dark);

  // Define any styles affected by the theme.
  mat-sidenav-content, .roomHeading.mat-card {
    background-color: #EBE1E0;
  }

  #roomInfo .statusHolder {
    border-style: dashed;
    border-width: 3px;
    border-color: #EBE1E0;
  }

  .statusHolderTitle {
    margin-left: 2px;
    color: mat-color($light-primary);
  }

  #default-mark, #defaultCheck, #defaultCheck-2nd {
    color: mat-color($mat-umn-maroon, 300) !important;
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: mat-color($mat-umn-maroon, 300) !important;
  }

  #loadCover {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background: rgba(30, 30, 30, 0.75);
  }

  #all-rooms {
    background-color: mat-color($mat-umn-maroon, 400);
    color: white;
  }

  .machineHolder .mat-expansion-panel-header {
    border-bottom-color: white;
  }

  .detailButton {
    background-color: white;
  }

  #welcomeTitle {
    color: mat-color($light-primary)
  }

  .unavailable .mat-progress-bar-buffer {
    background-color: #555 !important;
  }

  .vacant mat-card {
    border-left: 8px solid mat-color($mat-green, 700);
  }

  .vacant {
    color: mat-color($mat-green, 700);
  }

  @if $is-dark {
    .vacant {
      color: mat-color($mat-green, 400);
    }

    .room {
      border-color: #555 !important;
    }

    .subTypeButton {
      border-color: mat-color($mat-umn-maroon, 300);
    }

    #default-mark, #defaultCheck, #defaultCheck-2nd {
      color: mat-color($mat-umn-maroon, 300) !important;
    }

    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: mat-color($mat-umn-maroon, 300) !important;
    }

    .welcomeSelect div {
      background: #212121 !important;
      font-style: italic;
    }

    .morrisAddress {
      color: #bbb !important;
      font-style: italic;
    }

    .statusHolderTitle {
      color: white !important;
    }

    .detailButton {
      background-color: #424242;
    }

    .machineHolder .mat-expansion-panel-header {
      border-bottom-color: #424242;
    }

    #app-title button {
      font-style: italic;
      font-weight: 400;
    }

    .roomHeading.mat-card {
      background: unset;
    }

    .topMenu, .roomHeading {
      background-color: mat-color($background, app-bar) !important;
    }

    .mat-toolbar.mat-primary {
      background: mat-color($background, app-bar);
      color: mat-color($foreground, text);
    }

    mat-sidenav-content {
      background: mat-color($background, app-bar);
    }

    #roomInfo .statusHolder {
      border-color: mat-color($background, app-bar);
    }

    .indicator {
      color: $light-secondary-text !important;
      bottom: 10px;
    }

    .unavailable {
      color: #aaaaaa !important;
    }

    .unavailable .mat-progress-bar-buffer {
      background-color: #aaa !important;
    }

    .unavailable mat-card {
      border-left: 8px solid #aaaaaa !important;
    }
    .mat-icon.vacant {
      color: mat-color($mat-green, 700);
    }
    .vacant .mat-progress-bar-buffer {
      background-color: mat-color($mat-green, 700) !important;
    }

    .mat-icon.inUse {
      color: mat-color($mat-umn-gold, 800) !important;
    }

    .inUse mat-card {
      border-left: 8px solid mat-color($mat-umn-gold, 800);
    }
  }

  .mat-icon.vacant { // main idea from iteration 3 the groovy gravies (https://github.com/UMM-CSci-3601-F19/iteration-3-the-groovy-gravies)
    color: mat-color($mat-green, 400);
  }
  .vacant .mat-progress-bar-buffer {
    background-color: mat-color($mat-green, 400) !important;
  }

  .mat-icon.inUse {
    color: mat-color($mat-umn-gold, 900) !important;
  }

  .vacant mat-card {
    border-left: 8px solid mat-color($mat-green, 400);
  }

  .inUse mat-card {
    border-left: 8px solid mat-color($mat-umn-gold, 900);
  }

  .roomHeading {
    padding-top: 5px !important;
    margin: 0 -5px 0 -5px !important;
    font-style: italic;
    border-radius: 0 !important;
    position: sticky !important;
    top: 60px;
    z-index: 1;
    box-shadow: none !important;
    padding-bottom: 20px !important;
  }

  .topMenu {
    margin-top: 15px;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 18px;
  }

  .drawer-list-item-active {
    background-color: mat-color($background, hover) !important;
    color: mat-color($primary) !important;

    .mat-list-icon {
      color: mat-color($primary) !important;
    }
  }

  .sidenav-list {
    .mat-list-icon {
      color: mat-color($foreground, icon);
      margin-right: 16px;
    }
  }
}

// Sets up the theming for built in material components with the light theme
@include angular-material-theme($light-theme);

// Sets up theming for our custom components with the light theme
@include app-theming($light-theme);

.map mat-card {
  margin-left: auto !important;
  margin-right: auto !important;
}

html, body {
  height: 100%;
  scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// This media query detects if the user has dark-mode turned on on their OS or browser
// If you don't want to apply dark theme automatically,
// you can also make this a normal class and add it to body or html dynamically.
@media (prefers-color-scheme: dark) {
  // Sets up the theming for built in material components with the light theme
  @include angular-material-theme($dark-theme);
  // Sets up theming for our custom components with the light theme
  @include app-theming($dark-theme);
}

.indicator {
  font-size: 14px;
  margin-left: 38px;
  color: $dark-secondary-text;
}

.roomName {
  font-size: 18px;
}

mat-card {
  margin-top: 25px;
  margin-bottom: 25px;
}

mat-icon {
  margin-right: 25px;
}

#roomSelector, #allRooms {
  text-align: left;
}

.room mat-icon {
  margin-right: 15px;
}

.room.mat-card {
  box-shadow: none !important;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 850px;
  margin: 0 auto 15px;
}

.room button {
  margin: 5px;
}

.machines.mat-expansion-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none !important;
}

.home {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.menuLabel.mat-icon.notranslate.material-icons.mat-icon-no-color {
  margin-left: 9px;
}

.unavailable mat-card {
  border-left: 8px solid #555555;
}

.unavailable {
  color: #555555;
}

.map.mat-card {
  margin-left: auto !important;
  margin-right: auto !important;
}

.main-content.mat-typography {
  margin: 5px !important;
}

.washerMachinesPanel .mat-expansion-panel-body {
  padding: 0;
}

.dryerMachinesPanel .mat-expansion-panel-body {
  padding: 0;
}

.roomSelector.mat-expansion-panel {
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile mat-card {
  margin: 10px;
}

.reportButton, .detailTextButton {
  padding: 0 0 !important;
  font-style: italic;
  font-size: 90%;
  position: absolute;
  left: 0;
  height: 36px;
  bottom: 28px;
  border-radius: 18px !important;
}

.detailTextButton {
  min-width: unset !important;
}

.reportButton:hover, .detailTextButton:hover {
  text-decoration-line: underline;
}

.cardType {
  font-style: italic;
  color: #888;
}

#predictionGraphTitle {
  white-space: nowrap;
  max-width: 100px;
}

.machineName {
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  white-space: nowrap;
}

.mat-card-content {
  height: auto;
}

.roomStatus mat-icon, #default-selector mat-icon, #default-selector-2nd mat-icon {
  font-size: 16px;
  margin-right: 0;
  text-align: end;
}

.roomStatus {
  font-style: italic;
  font-size: 16px;
  margin: 0 7px;
  display: inline-block;
}

mat-dialog-container {
  border-radius: 15px !important;
  padding: 20px !important;
  height: 120%;
}

mat-dialog-container .mat-card-content {
  width: 90%;
}

mat-dialog-container .machineName {
  white-space: normal;
  display: block;
}

mat-dialog-container .reportButton {
  position: sticky;
  bottom: -25px;
}

.subscribeButton {
  position: absolute !important;
  top: 8px !important;
  right: 5px !important;
  left: auto !important;
  border-radius: 18px !important;
  min-width: 36px !important;
  padding: 0 7px !important;
  margin-left: 10px;
}

.subscribeButtonText {
  font-size: 115%;
  font-weight: 400;
}

#roomSubHolder {
  margin-left: 10px;
}

.subTypeButton {
  margin-right: 15px;
}

#exitWithoutAddingButton {
  position: absolute;
  right: -5px;
  top: -5px;
}

#confirmAddSubButton, #disabledConfirmAddSubButton {
  z-index: 5;
  padding: 0 12px;
  margin-left: auto;
  position: absolute;
  margin-right: -3px;
  right: 0;
  margin-top: 11px;
  border-radius: 18px
}

.sub-title {
  margin-bottom: 10px;
}

.sub-detail {
  font-size: 90%;
  color: #888;
  font-style: italic;
}

#app-title button {
  padding: 12px;
}

#machineIsSubscribed {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  padding-right: 10px
}

.machineIdentity a {
  display: block;
  max-width: 200px;
}

.defaultRoomButton {
  padding: 0 !important;
  font-style: italic;
  top: -6px;
  margin-right: 15px;
  border-radius: 10px !important;
}

#default-selector, #default-selector-2nd {
  height: 20px;
  margin-left: 13px;
  margin-bottom: 5px;
  padding-right: 14px;
}

.default-selector-text {
  margin: 0 7px;
  font-weight: 400;
}

#default-selector .mat-ripple-element, #default-selector-2nd .mat-ripple-element {
  display: none;
}

.mat-card, .mat-expansion-panel, #all-rooms, .mat-raised-button {
  box-shadow: none !important;
}

.statusHolder {
  margin-top: 15px !important;
  padding: 10px !important;
  height: 20px;
  border-radius: 20px;
  margin-left: -3px !important;
}

#dryerAvail mat-card.statusHolder {
  margin-top: 45px !important;
}

.statusHolderTitle {
  font-weight: normal;
  font-size: 15px;
  position: absolute;
  left: 8px;
  top: -11px;
  text-align: left;
  width: fit-content;
}

.roomNamer {
  left: -10px !important;
}

@media only screen and (min-width: 1020px) {
  .roomStatus mat-icon {
    font-size: 16px;
    margin-right: 0;
    margin-left: 22px;
    text-align: end;
  }
  #default-selector mat-icon, #default-selector-2nd mat-icon {
    font-size: 16px;
    margin-right: 0;
    margin-left: 10px;
    text-align: end;
  }
}

#roomContentEmpty {
  margin-bottom: -10px;
}

.subscribeButton {
  margin-right: 12px !important;
}

.statusHolder {
  text-align: center !important;
}

#roomInfo {
  padding: 16px 25px !important;
}

#roomInfo .roomHeading {
  background: transparent !important;
  top: 0 !important;
  padding: 0;
  position: initial;
  z-index: 0;
  margin-left: 2px !important;
  margin-right: -11px !important;
}

#roomInfo #roomTitle {
  font-size: 32px !important;
}

#roomInfo #default-selector {
  z-index: 1;
  margin-left: 0;
}

#roomInfo .statusHolder {
  text-align: right !important;
  margin-left: -6px !important;
  padding-right: 10px !important;
}

#roomInfo mat-icon {
  margin: 0 !important;
}

#roomInfo .roomStatus {
  margin: 0 20px;
}

#roomInfo .subscribeButton {
  margin: 0 !important;
  top: -10px !important;
  right: -9px !important;
}

#roomInfo .defaultRoomButton {
  margin-top: 5px;
}

#roomInfo .defaultRoomButton mat-icon {
  height: 19px !important;
}

#roomInfo #roomTitleEmpty {
  margin-left: 0 !important;
  margin-top: 55px !important;
  font-size: 350% !important;
}

#roomInfo #roomContentEmpty {
  margin-left: 0 !important;
  font-size: 180% !important;
}

#roomInfo .statusHolderTitle {
  font-weight: 500;
  font-size: 110%;
  top: unset;
  margin-left: 5px;
}

#roomInfo .roomStatus {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .subscribeButtonText {
    display: none;
  }
}

.defaultRoomButton {
  padding-right: 10px !important;
}

.machineHolder .mat-expansion-panel-header {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 16px !important;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.machineHolder .mat-expansion-panel-header.mat-expanded {
  border-bottom-style: none;
}

.dryerMachinesPanel {
  margin-bottom: 60px !important;
}

@media screen and (min-width: 1200px) {
  .washerMachinesPanel {
    margin-bottom: 60px !important;
  }
}
