#home-page-card {
  margin-top: 10px;
}

.home {
  scroll-behavior: smooth;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

#all-rooms {
  height: 40px;
  top: auto;
  right: 15px;
  bottom: -50px;
  left: auto;
  position: fixed;
  border-radius: 20px;
  z-index: 1;
  transition: bottom 1s;
}

.mat-expansion-panel, .mat-card {
  border-radius: 20px;
}

@media screen and (min-width: 720px) {
  #all-rooms {
    font-size: 110%;
    height: 50px;
    border-radius: 25px;
    right: 40px;
    bottom: 25px;
  }
}
.mat-progress-bar{
  border-radius: 2px;
}

/*bottom logo stuff*/
.logobottom {
  width: 180px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 50%;
  position: fixed;
  margin-left: -90px;
}
@media screen and (min-width: 500px) {
  .logobottom {
    width: 180px;
    display: block;
    bottom: 0;
    position: fixed;
    left: 50%;
    margin-left: -90px;
    padding-bottom: 50px;
    padding-top: 200px;
    z-index: -1;
  }
}
