#home-page-card {
  margin-top: 10px;
}

.home {
  scroll-behavior: smooth;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

#all-rooms {
  height: 40px;
  top: auto;
  right: 15px;
  bottom: -50px;
  left: auto;
  position: fixed;
  border-radius: 20px;
  z-index: 1;
  transition: bottom 1s;
}

.mat-expansion-panel, .mat-card {
  border-radius: 20px;
}

#logoBackground{
  opacity: 0.1;
  width: 1000px;
  position: fixed;
  z-index: -1;
  margin-top: -334px;
  margin-left: -500px;
  top: 50%;
  left: 50%
}

@media screen and (min-width: 720px) {
  #all-rooms {
    font-size: 110%;
    height: 50px;
    border-radius: 25px;
    right: 40px;
    bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .washerMachinesPanel {
    width: 50%;
    float: left;
  }

  .dryerMachinesPanel {
    width: 50%;
    float: right;
  }
}

@media screen and (max-width: 720px) {
  #logoBackground {
    opacity: 0.1;
    width: 300px;
    position: fixed;
    z-index: -1;
    margin-top: -100px;
    margin-left: -150px;
    top: 50%;
    left: 50%
  }
}

.mat-progress-bar{
  border-radius: 2px;
}
