.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title button {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  font-size: 20px;
  margin-left: 10px;
}

.app-title button:hover {
  text-decoration: underline;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
