.room {
  background: transparent;
}

.morrisAddress {
  display: block;
  text-align: center;
}

#welcomeTitle {
  display: block;
  text-align: center;
}

.welcomeSelect {
  text-align: center !important;
  font-size: 15px !important;
}

@media screen and (max-width: 500px) {
  .room button {
    display: block !important;
  }
}
