<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morris Laundry Facilities</title>
</head>
<body>

<img class="logotop" src="https://i.imgur.com/AWVK4eh.png" alt="UMM Tricolor Logo">
<div >
  <mat-card id="welcomeGreetings"><u><b>Welcome to Morris Laundry Facilities!</b></u><br>
Please Select a Room Below</mat-card>
</div>
<mat-card class="room" style="background-color: transparent">
  <mat-accordion *ngIf="rooms; else roomsError">
    <a class="roomHolder">
      <button class="welcomeRoom" mat-raised-button
              *ngFor="let room of this.rooms" (click)="navigateTo(room.id)">
        <a class="roomName" [id]="room.id">
          <a id="{{room.id + 'Id'}}">{{room.name}}</a><br>
        </a>
      </button>
    </a>

    <a class="roomHolder">
      <button class="welcomeRoom" mat-raised-button
              (click)="navigateTo('')">
        <a class="roomName" [id]="'empty'">All Rooms</a><br>
      </button>
    </a>

  </mat-accordion>
  <ng-template #roomsError>
    <div class="noRoomFoundMessage" style="padding-top: 10px; padding-bottom: 20px; color:#999">Cannot find
      any room currently. Please try again later.
    </div>
  </ng-template>
</mat-card>

</body>
<div>
  <img class="logobottom" src="https://i.imgur.com/rEmFstw.png" alt="UMM Text Logo">
</div>

</html>
